<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{fragments/header :: head}"></head>
    <div th:replace="~{fragments/header :: nav}" class="col-md-2"></div>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-5">
            <div>
                <h1 class="text-center text-light mb-5 display-3">m. m . o . v . e</h1>
                <form action="/account/sign-in" method="post">
                    <div class="row mb-3 d-flex justify-content-center">
                        <label for="id" class="col-sm-2 col-form-label">아이디</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="id" name="id" required>
                        </div>
                    </div>
                    <div class="row mb-3 d-flex justify-content-center">
                        <label for="password" class="col-sm-2 col-form-label">비밀번호</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>
                    <fieldset class="row mb-3 d-flex justify-content-center">
                        <legend class="col-form-label col-sm-2 pt-0">권한</legend>
                        <div class="col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="user" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    일반 사용자
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="admin" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    관리자
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary col-sm-8 mt-3 mb-3 offset-sm-2">로그인</button>
                </form>
                    <a th:href="@{/account/sign-up}" class="btn btn-secondary btn-block col-md-8 mb-3 offset-sm-2">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
