<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="fragments/header :: head"></head>
    <div th:replace="fragments/header :: nav" class="col-md-2"></div>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: nav"></div>
        <div class="col-md-10 offset-md-2">
            <br>
            <div class="row">
                <div class="col-md-8 ">
                    <h1>일간 박스 오피스 Top10 <small style="font-size: 25px;" th:text="'['+ ${dailyBoxOfficeData.boxOfficeResult.showRange} +']'"></small>
                    </h1>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control datepicker" placeholder="날짜 선택">
                </div>
                <br>
            </div>
            <br>
            <div class="row" style="overflow-x: auto; white-space: nowrap;">
                <div class="card-container scrollable-row">
                    <div th:each="boxOffice, iterStat : ${dailyBoxOfficeData.boxOfficeResult.dailyBoxOfficeList}"
                         th:if="${iterStat.index le 9}" class="col-md-2 mb-4 card border`-dark">
                        <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                            <img th:src="${boxOffice.imageUrl}" class="card-img-top" alt="포스터 이미지">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:utext="${#strings.length(boxOffice.movieNm) &gt; 16 ? #strings.substring(boxOffice.movieNm, 0, 16) + '...' : boxOffice.movieNm}"></span>
                            </h5>
                            <p class="card-text">개봉일: <span th:text="${boxOffice.openDt}"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h1>한국 영화 순위</h1>
            <br>
            <div class="row" style="overflow-x: auto; white-space: nowrap;">
                <div class="card-container scrollable-row">
                    <div th:each="boxOffice, iterStat : ${koDailyBoxOfficeData.boxOfficeResult.dailyBoxOfficeList}"
                         th:if="${iterStat.index le 9}" class="col-md-2 mb-4 card border`-dark">
                        <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                            <img th:src="${boxOffice.imageUrl}" class="card-img-top" alt="포스터 이미지">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:utext="${#strings.length(boxOffice.movieNm) &gt; 16 ? #strings.substring(boxOffice.movieNm, 0, 16) + '...' : boxOffice.movieNm}"></span>
                            </h5>
                            <p class="card-text">개봉일: <span th:text="${boxOffice.openDt}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1>해외 영화 순위</h1>
            <br>
            <div class="row">
                <div th:each="boxOffice, iterStat : ${foDailyBoxOfficeData.boxOfficeResult.dailyBoxOfficeList}"
                     th:if="${iterStat.index le 4}" class="col-md-2 mb-4">
                    <div class="card border`-dark h-100">
                        <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                            <img th:src="${boxOffice.imageUrl}" class="card-img-top" alt="포스터 이미지">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:utext="${#strings.length(boxOffice.movieNm) &gt; 16 ? #strings.substring(boxOffice.movieNm, 0, 16) + '...' : boxOffice.movieNm}"></span>
                            </h5>
                            <p class="card-text">개봉일: <span th:text="${boxOffice.openDt}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>포스터 이미지</th>
                        <th>순위</th>
                        <th>영화 제목</th>
                        <th>개봉일</th>
                        <th>매출액</th>
                        <th>관객 수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boxOffice : ${dailyBoxOfficeData.boxOfficeResult.dailyBoxOfficeList}">
                        <td>
                            <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                                <img th:src="${boxOffice.imageUrl}" alt="포스터 이미지" width="100">
                            </a>
                        </td>
                        <td th:text="${boxOffice.rank}"></td>
                        <td th:text="${boxOffice.movieNm}"></td>
                        <td th:text="${boxOffice.openDt}"></td>
                        <td th:text="${boxOffice.salesAmt}"></td>
                        <td th:text="${boxOffice.audiCnt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>