<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search List</title>
    <head th:include="fragments/header :: head"></head>
    <div th:replace="fragments/header :: nav" class="col-md-2"></div>


</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 offset-md-2 mt-5">
            <h2 class="text-center display-3">검색 결과</h2>

            <p class="mt-5">총 <span th:text="${movieSearchListResponseDto.movieListResult.totCnt}"></span>건</p>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>포스터</th>
                    <th>영화 이름</th>
                    <th>개봉상태</th>
                    <th>장르</th>
                    <th>감독</th>
                    <th>영화사</th>
                </tr>
                </thead>
                <tbody th:each="movie : ${movieSearchListResponseDto.movieListResult.movieList}">
                <tr>
                    <td>
                        <img th:src="${movie.posterUrl != null} ? ${movie.posterUrl} : '/images/no_movie_image.jpg'"
                             class="img-fluid" style="max-width: 80px; max-height: 100px;">
                    </td>
                    <td>
                        <a th:href="@{'/movie-info/' + ${movie.movieCd}}">
                            <span th:text="${movie.movieNm}" class="fw-bold"></span><br>
                            <span th:text="${movie.movieNmEn}"></span>
                        </a>
                        <br>
                        <span th:text="${movie.prdtYear} + ' | ' + ${movie.typeNm} + ' | ' + ${movie.repNationNm}"></span>
                    </td>
                    <td th:text="${movie.prdtStatNm}"></td>
                    <td th:text="${movie.genreAlt}"></td>
                    <td>
                        <ul>
                            <li th:each="director : ${movie.directors}" th:text="${director.peopleNm}"></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li th:each="company : ${movie.companys}" th:text="${company.companyNm}"></li>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
            <div>
                <ul class="pagination mt-1">
                    <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" class="page-item" th:class="${pageNumber == page} ? 'active' : ''">
                        <a class="page-link" th:href="@{/movie-search/movie-list(movieName=${searchMovieName}, directorName=${searchDirectorName}, page=${pageNumber})}" th:text="${pageNumber}"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
