<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="~{fragments/header :: head}"></head>
    <div th:replace="fragments/header :: nav" class="col-md-2"></div>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<span th:replace="fragments/offcanvas :: offcanvas"></span>
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">로그인</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/account/sign-in}" method="post">
                        <div class="mb-3">
                            <label for="id" class="form-label">아이디</label>
                            <input type="text" class="form-control" id="id" name="id" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
