<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Search List</title>
    <head th:include="~{fragments/header :: head}"></head>
    <div th:replace="~{fragments/header :: nav}" class="col-md-2"></div>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <span th:replace="~{fragments/offcanvas :: offcanvas}"></span>
        <div class="col-md-9 offset-md-2 mt-5">
            <h2 class="text-center display-3">검색 결과</h2>
            <p class="mt-5">총 <span th:text="${personSearchListResponseDto.peopleListResult.totCnt}"></span>건</p>

                <table class="table table-striped table-bordered">
                    <thead class="text-center table-active">
                    <tr>
                        <th th:width="75">프로필</th>
                        <th th:width="75">이름</th>
                        <th th:width="75">영문</th>
                        <th th:width="75">직업</th>
                        <th th:width="300">필모그래피</th>
                    </tr>
                    </thead>
                    <tbody th:each="person : ${personSearchListResponseDto.peopleListResult.peopleList}">
                    <tr>
                        <td>
                            <img th:if="${person.profileImg}"
                                 th:src="${@environment.getProperty('tmdb.image.url.w780') + person.profileImg}"
                                 class="img-fluid" style="max-width: 200px; max-height: 200px;">
                        </td>
                        <td th:text="${person.peopleNm}"></td>
                        <td th:text="${person.peopleNmEn}"></td>
                        <td th:text="${person.repRoleNm}"></td>
                        <td th:text="${person.filmoNames}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
</body>

</html>
