<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{fragments/header :: head}"></head>
    <div th:replace="~{fragments/header :: nav}" class="col-md-2"></div>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <span th:replace="~{fragments/offcanvas :: offcanvas}"></span>
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <div class="col-md-8 ">
                    <h1>주간 박스 오피스 Top5</h1>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control datepicker" id="weeklyDatePicker" placeholder="날짜 선택">
                </div>
            </div>
            <hr>
            <div class="row">
                <div th:each="boxOffice, iterStat : ${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList}"
                     th:if="${iterStat.index le 4}" class="col-md-2 mb-4">
                    <div class="card border`-dark">
                        <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                            <img th:src="${boxOffice.imageUrl} ?: '/images/no_movie_image.jpg'" class="card-img-top"
                                 alt="포스터 이미지" style="height: 290px;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:utext="${boxOffice.rank} + '. ' + ${#strings.length(boxOffice.movieNm) &gt; 8 ? #strings.substring(boxOffice.movieNm, 0, 8) + '...' : boxOffice.movieNm}"></span>
                            </h5>
                            <p class="card-text">개봉일: <span th:text="${boxOffice.openDt}"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <h1>주간 박스 오피스 통계</h1>
            <hr>
            <div class="row">
                <div class="col-4">
                    <canvas id="boxOfficeDoughnutChart" width="500" height="500"></canvas>
                </div>
                <div class="col-7">
                    <canvas id="boxOfficeChart" width="600" height="500"></canvas>
                </div>
            </div>
            <hr>

            <div class="col-md-10">
                <br>
                <h1 th:text="'['+ ${weeklyBoxOfficeData.boxOfficeResult.showRange} + ' 박스 오피스]'"></h1>
                <br>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th th:width="30">포스터</th>
                        <th th:width="50">순위</th>
                        <th th:width="400">영화 제목</th>
                        <th th:width="110">개봉일</th>
                        <th>매출액</th>
                        <th>관객 수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="boxOffice, iterStat : ${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList}"
                        th:class="${iterStat.odd}? odd-row : even-row"
                        th:classappend="${iterStat.odd}? '' : table-active">
                        <td>
                            <a th:href="@{'/movie-info/' + ${boxOffice.movieCd}}">
                                <div style="position: relative;">
                                    <img th:src="${boxOffice.imageUrl} ?: '/images/no_movie_image.jpg'" alt="포스터 이미지"
                                         width="100">
                                </div>
                            </a>
                        </td>
                        <td>
                            <span th:text="${boxOffice.rank}"></span>
                            <span th:if="${boxOffice.rankInten != null && boxOffice.rankInten != '' && boxOffice.rankInten.startsWith('-')}"
                                  style="color: blue;" th:text="'(↓'+ ${boxOffice.rankInten.substring(1)} + ')'"></span>
                            <span th:if="${boxOffice.rankInten != null && boxOffice.rankInten != '' && !boxOffice.rankInten.startsWith('-') && boxOffice.rankInten != '0'}"
                                  style="color: red;" th:text="'(↑'+ ${boxOffice.rankInten} + ')'"></span>
                        </td>
                        <td>
                            <span th:text="${boxOffice.movieNm}"></span>
                            <span th:if="${boxOffice.rankOldAndNew == 'NEW'}" class="badge bg-warning">NEW</span>
                        </td>
                        <td th:text="${boxOffice.openDt}"></td>
                        <td>
                            <div th:text="'일일 : '+ ${#numbers.formatInteger(boxOffice.salesAmt, 3, 'COMMA') + '원'}"></div>
                            <div th:text="'누적 : '+ ${#numbers.formatInteger(boxOffice.salesAcc, 3, 'COMMA') +'원'}"></div>
                            <div class="progress col-md-10">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                     th:style="'width: ' + ${boxOffice.salesShare} + '%;'"></div>
                            </div>
                        </td>
                        <td>
                            <div th:text="'일일 : '+ ${#numbers.formatInteger(boxOffice.audiCnt, 3, 'COMMA') + '명'}"></div>
                            <div th:text="'누적 : '+ ${#numbers.formatInteger(boxOffice.audiAcc, 3, 'COMMA') + '명'}"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        var movieNames = /*[[${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList.![movieNm]}]]*/ [];
        var salesAmts = /*[[${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList.![audiCnt]}]]*/ [];
        var slicedMovieNames = movieNames.slice(0, 5);
        var slicedSalesAmts = salesAmts.slice(0, 5);

        var ctx = document.getElementById('boxOfficeDoughnutChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: slicedMovieNames,
                datasets: [{
                    data: slicedSalesAmts,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.4)',
                        'rgba(54, 162, 235, 0.4)',
                        'rgba(255, 206, 86, 0.4)',
                        'rgba(75, 192, 192, 0.4)',
                        'rgba(153, 102, 255, 0.4)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        labels: {
                            color: 'white'
                        },
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                        text: '주간 매출액 비율',
                        color: 'white'
                    }
                }
            }
        });
    });
</script>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        })})
</script>

<script th:inline="javascript">
    var movieNames = /*[[${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList.![movieNm]}]]*/ [];
    var salesAmts = /*[[${weeklyBoxOfficeData.boxOfficeResult.weeklyBoxOfficeList.![audiCnt]}]]*/ [];
    var ctx = document.getElementById('boxOfficeChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: movieNames,
            datasets: [{
                label: '주간 영화별 관객수',
                data: salesAmts,
                backgroundColor: 'rgba(85, 192, 192, 0.35)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: 'white'
                    }
                },
                x: {
                    ticks: {
                        color: 'white'
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white'
                    }
                }
            }
        }
    });
</script>
<script src="js/datepicker-script.js"></script>
</body>
</html>